log_path = /var/log/dovecot.log
listen = *, ::
protocols = imap
disable_plaintext_auth = yes
mail_location = maildir:~/Maildir
auth_mechanisms = plain login
default_client_limit = 100
default_process_limit = 10
passdb {
    driver = bsdauth
}

userdb {
    driver = passwd
}

ssl = required
# Preferred permissions: root:root 0444
ssl_cert = </etc/ssl/certs/dovecot.pem
# Preferred permissions: root:root 0400
ssl_key = </etc/ssl/private/dovecot.pem

service imap-login {
  inet_listener imap {
    port = 0
  }
  inet_listener imaps {
    #port = 993
    #ssl = yes
  }
}