pki mailer certificate "/etc/ssl/certs/{{ mail_fqdn }}.crt"
pki mailer key "/etc/ssl/private/{{ mail_fqdn }}.key"

listen on lo0
listen on {{ device }} port 25 hostname {{ mail_fqdn }} tls pki mailer
listen on {{ device }} port 587 hostname {{ mail_fqdn }} tls-require pki mailer auth mask-source

table aliases db:/etc/mail/aliases.db

accept from any for local alias <aliases> deliver to maildir
accept from any for domain codeways.org deliver to maildir
accept from local for any relay
